In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../assets/west_nile/input/clean_weather_data.csv')

In [3]:
df.head()

,Unnamed: 0,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,0,1,2007-05-01,83,50,67,14,51,56,0,2,0448,1849,,0.00,29.10,29.82,1.7,27,9.2
1,1,2,2007-05-01,84,52,68,14,51,57,0,3,-,-,,0.00,29.18,29.82,2.7,25,9.6
2,2,1,2007-05-02,59,42,51,-3,42,47,14,0,0447,1850,BR,0.00,29.38,30.09,13.0,4,13.4
3,3,2,2007-05-02,60,43,52,-3,42,47,13,0,-,-,BR HZ,0.00,29.44,30.08,13.3,2,13.4
4,4,1,2007-05-03,66,46,56,2,40,48,9,0,0446,1851,,0.00,29.39,30.12,11.7,7,11.9

In [7]:
df['Date'] = pd.to_datetime(df['Date'])

In [63]:
df.dtypes

Unnamed: 0              int64
Station                 int64
Date           datetime64[ns]
Tmax                    int64
Tmin                    int64
Tavg                    int64
Depart                  int64
DewPoint                int64
WetBulb                 int64
Heat                    int64
Cool                    int64
Sunrise                object
Sunset                 object
CodeSum                object
PrecipTotal            object
StnPressure           float64
SeaLevel              float64
ResultSpeed           float64
ResultDir               int64
AvgSpeed              float64
FC                      int64
TS                      int64
GR                      int64
RA                      int64
DZ                      int64
SN                      int64
SG                      int64
GS                      int64
PL                      int64
IC                      int64
FG                      int64
BR                      int64
UP                      int64
HZ                      int64
FU                      int64
VA                      int64
DU                      int64
DS                      int64
PO                      int64
SA                      int64
SS                      int64
PY                      int64
SQ                      int64
DR                      int64
SH                      int64
FZ                      int64
MI                      int64
PR                      int64
BC                      int64
BL                      int64
VC                      int64
dtype: object

In [22]:
df['Date'].dt.year

0       2007
1       2007
2       2007
3       2007
4       2007
5       2007
6       2007
7       2007
8       2007
9       2007
10      2007
11      2007
12      2007
13      2007
14      2007
15      2007
16      2007
17      2007
18      2007
19      2007
20      2007
21      2007
22      2007
23      2007
24      2007
25      2007
26      2007
27      2007
28      2007
29      2007
        ...
2914    2014
2915    2014
2916    2014
2917    2014
2918    2014
2919    2014
2920    2014
2921    2014
2922    2014
2923    2014
2924    2014
2925    2014
2926    2014
2927    2014
2928    2014
2929    2014
2930    2014
2931    2014
2932    2014
2933    2014
2934    2014
2935    2014
2936    2014
2937    2014
2938    2014
2939    2014
2940    2014
2941    2014
2942    2014
2943    2014
Name: Date, dtype: int64

In [37]:
week = df['Date'] - pd.to_datetime(df['Date'].dt.year.values)

TypeError: Cannot compare type 'Timestamp' with type 'int'

In [41]:
pd.to_datetime(pd.DataFrame(df['Date'].dt.year.values))

AttributeError: 'numpy.int64' object has no attribute 'lower'

In [30]:
pd.to_datetime('2007-05-01',format='%Y/%m/%d') - pd.to_datetime('2007')

Timedelta('120 days 00:00:00')

In [23]:
pd.to_datetime('2000')

Timestamp('2000-01-01 00:00:00')

In [64]:
df['Week'] = df['Date'].dt.week

In [65]:
df.head()

,Unnamed: 0,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,...,SQ,DR,SH,FZ,MI,PR,BC,BL,VC,Week
0,0,1,2007-05-01,83,50,67,14,51,56,0,...,0,0,0,0,0,0,0,0,0,18
1,1,2,2007-05-01,84,52,68,14,51,57,0,...,0,0,0,0,0,0,0,0,0,18
2,2,1,2007-05-02,59,42,51,-3,42,47,14,...,0,0,0,0,0,0,0,0,0,18
3,3,2,2007-05-02,60,43,52,-3,42,47,13,...,0,0,0,0,0,0,0,0,0,18
4,4,1,2007-05-03,66,46,56,2,40,48,9,...,0,0,0,0,0,0,0,0,0,18

In [9]:
spray = pd.read_csv('../assets/west_nile/input/spray.csv')

In [10]:
spray.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [11]:
train = pd.read_csv('../assets/west_nile/input/train.csv')

In [12]:
train.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [16]:
train[train['WnvPresent'] == 1].shape

(551, 12)

In [43]:
weather_types = ['FC','TS','GR','RA','DZ',
                 'SN','SG','GS','PL','IC',
                 'FG','BR','UP','HZ','FU',
                 'VA','DU','DS','PO','SA',
                 'SS','PY','SQ','DR','SH',
                 'FZ','MI','PR','BC','BL','VC']

In [59]:
def codesum_vars():
    for i in weather_types:
        df[i] = df['CodeSum'].str.contains(i,regex=True).astype(int)

In [60]:
codesum_vars()

In [61]:
df.head()

,Unnamed: 0,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,...,PY,SQ,DR,SH,FZ,MI,PR,BC,BL,VC
0,0,1,2007-05-01,83,50,67,14,51,56,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2,2007-05-01,84,52,68,14,51,57,0,...,0,0,0,0,0,0,0,0,0,0
2,2,1,2007-05-02,59,42,51,-3,42,47,14,...,0,0,0,0,0,0,0,0,0,0
3,3,2,2007-05-02,60,43,52,-3,42,47,13,...,0,0,0,0,0,0,0,0,0,0
4,4,1,2007-05-03,66,46,56,2,40,48,9,...,0,0,0,0,0,0,0,0,0,0

In [67]:
df.Date.describe()

count                    2944
unique                   1472
top       2014-08-27 00:00:00
freq                        2
first     2007-05-01 00:00:00
last      2014-10-31 00:00:00
Name: Date, dtype: object

In [69]:
train.describe(include=all)

TypeError: include and exclude must both be non-string sequences